{% extends 'base.html' %}
{% block title %} Sign In {% endblock%}
{% block content %}
    <h3>SignIn</h3>
    <form action="/signin" method="post">
    {% csrf_token %}
        <label>Username</label>
        <input type="text" id="username" name="username" placeholder="Username" Required>
        <br>
        <label>Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Password" Required>
        <br>
        <button type="submit">Sign In</button>
    </form>
{% endblock %}